/* Elemente */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
nav {
  background-color: rgb(161, 157, 218);
  position: sticky;
  display: flex;
  align-items: center;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
}
footer {
  background-color: black;
  height: 250px;
  color: white;
}
h1,
h2,
h3 {
  margin: 0;
}
h3 {
  margin-right: 5px;
}
table {
  height: 100%;
  text-align: left;
  border-collapse: collapse;
}
table td,
table.table th {
  padding: 0 20px;
}
table tr:nth-child(even) {
  background: #d0e4f5;
}
table tr:nth-child(odd) {
  background: #82a2be;
}
/* Klassen */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 5px;
  border: 2px solid #000000;
  border-radius: 10px;
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-image {
  height: 75%;
  width: auto;
}
.hide-desktop {
  display: none;
}
.loadmore {
  display: flex;
  justify-content: center;
}
.btn-load {
  background-color: #0420d6;
  border-radius: 10px;
  border: 1px solid #0420d6;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #485ef0;
  margin: 20px;
}
.btn-load:hover {
  background-color: #5267f0;
}
.btn-load:active {
  position: relative;
  top: 1px;
}
.d-none {
  display: none !important;
}
.dialog {
  background-color: rgba(44, 44, 44, 0.5);
  position: fixed;
  top: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-card {
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.detail-img {
  height: 300px;
}
.detail-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.details-card {
  /* background-color: white; */
  width: 80%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: auto;
}
.bottom {
  position: absolute;
  bottom: 0;
}
/*******************************************************************/
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #0420d6 #ffffff00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #0420d6;
  border-radius: 10px;
}
/*******************************************************************/
.grass {
  background: linear-gradient(rgb(96, 255, 181), rgb(0, 167, 0));
}
.water {
  background: linear-gradient(rgb(94, 94, 250), rgb(2, 2, 218));
  color: white;
}
.ice {
  background: linear-gradient(rgb(94, 94, 250), rgb(210, 210, 250));
}
.fire {
  background: linear-gradient(yellow, rgb(248, 10, 10));
}
.bug {
  background-color: rgb(143, 138, 97);
}
.normal {
  background-color: rgb(224, 224, 224);
}
.poison {
  background-color: rgb(163, 82, 163);
}
.electric {
  background: linear-gradient(#f7fa3e, #645e01);
}
.ground {
  background-color: brown;
}
.fairy {
  background-color: pink;
}
.fighting {
  background: linear-gradient(#b3b2b2, #363636);
}
.psychic {
  background: linear-gradient(#727403, #f5ec75);
}
.rock {
  background: linear-gradient(darkgrey, grey);
}
.ghost {
  background: linear-gradient(purple, rgb(82, 0, 82));
}
.dragon {
  background: linear-gradient(rgb(94, 94, 250), rgb(248, 10, 10));
}
.dark {
  background: linear-gradient(rgb(34, 34, 34), rgb(48, 48, 48));
  color: white;
}
.steel {
  background: linear-gradient(lightgrey, silver);
}

/* ID's */
#types {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* Mobile View*/
@media (max-width: 960px) {
  .hide-mobile {
    display: none;
  }
  .hide-desktop {
    display: flex;
  }
}
