/* Elemente */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
nav {
  background-color: rgb(161, 157, 218);
  position: sticky;
  display: flex;
  align-items: center;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
}
footer {
  background-color: black;
  height: 250px;
  color: white;
}
h1,
h2 {
  margin: 0;
}
/* Klassen */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 5px;
  border: 2px solid #000000;
  border-radius: 10px;
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-image {
  height: 75%;
  width: auto;
}
.hide-desktop {
  display: none;
}
.loadmore {
  display: flex;
  justify-content: center;
}
.btn-load {
  background-color: #0420d6;
  border-radius: 10px;
  border: 1px solid #0420d6;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #485ef0;
  margin: 20px;
}
.btn-load:hover {
  background-color: #5267f0;
}
.btn-load:active {
  position: relative;
  top: 1px;
}
.d-none {
  display: none;
}
.dialog {
}
.detail-card {
}

/*******************************************************************/
.grass {
  background-color: greenyellow;
}
.water {
  background-color: rgb(82, 82, 255);
}
.fire {
  background-color: rgb(255, 57, 57);
}
.bug {
  background-color: rgb(143, 138, 97);
}
.normal {
  background-color: rgb(224, 224, 224);
}
.poison {
  background-color: rgb(163, 82, 163);
}
.electric {
  background: linear-gradient(#f7fa3e, #797102);
}
.ground {
  background-color: brown;
}
.fairy {
  background-color: pink;
}
.fighting {
  background: linear-gradient(#b3b2b2, #363636);
}
.psychic {
  background: linear-gradient(#727403, #f5ec75);
}
.rock {
  background-color: darkgrey;
}
.ghost {
  background: linear-gradient(purple, rgb(82, 0, 82));
}

/* ID's */
/* Mobile View*/
@media (max-width: 960px) {
  .hide-mobile {
    display: none;
  }
  .hide-desktop {
    display: flex;
  }
}
